/* this is for the thumbnail images */
.crop-img{
  max-height:150px;
  max-width:100%;
}

/* this is for the big main image */
.large-img{
  max-width:100%;
}

.rightalignment{100}

/* Group 65 */


position: absolute;
width: 4961px;
height: 2370px;
